@import 'styles/_oneVsone-game-screen.scss';
@import 'styles/_options.scss';
@import 'styles/_starting-menu.scss';


$bg-image: linear-gradient(to bottom, purple, pink);

body {
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    * {
        font-family: 'Lato';
    }
    

}

div.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;

    & div.carousel {
        text-align: center;
        width: 100%;
        position: relative;
        margin: 0;
        trasform-style: preserve-3d;
        transition: transform 0.1s;
        display: flex;
        justify-content: center;
    }


}

/*Themes*/

.light {
    overflow: hidden;
    background-color: rgb(245, 231, 233);
    transition: background-color 0.2s;

    & * {
        transition: color 0.2s;
        color: rgb(4, 4, 40);
    }

    & div.starting-menu h1 {
        color: rgb(6, 6, 66);
    }

    & button {
        background-color: rgb(109, 196, 141);
    }

    & select {
        background-color: beige;
    }
}

.dark {
    overflow: hidden;
    background-color: rgb(101, 101, 101);
    transition: background-color 0.2s;

    & * {
        transition: color 0.2s;
        color: white;
    }

    

    & button {
        background-color: rgb(41, 39, 41);
    }

    & select {
        background-color: grey;
    }

    
}