div.oneVSone-game-screen {
  display: none;
}

div.options {
  position: absolute;
}

div.starting-menu {
  position: absolute;
  top: 200px;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body * {
  font-family: 'Lato';
}

div.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  border: 2px solid;
  margin: 0;
  position: relative;
}

div.carousel-container div.carousel {
  position: relative;
  margin: 0;
  trasform-style: preserve-3d;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
}
