div.oneVSone-game-screen {
  display: none;
  width: 100%;
}

div.oneVSone-game-screen div.actions {
  /*(border: 2px solid red;*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "return player player";
  justify-content: center;
  padding: 0.5em;
}

div.oneVSone-game-screen div.actions p {
  align-self: end;
  text-align: center;
  font-size: 3.3em;
  font-weight: 600;
}

div.oneVSone-game-screen div.actions p span {
  font-weight: 900;
}

div.oneVSone-game-screen div.actions #return {
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  margin-top: 13px;
  background-color: #6dc48d;
  font-size: 1.5em;
  padding: 0.5em;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

div.oneVSone-game-screen div.tic-tac-toe-container {
  width: 90%;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 330px;
  height: 330px;
  gap: 3px;
  background-color: black;
}

div.oneVSone-game-screen div.tic-tac-toe-container div.box {
  width: 108px;
  height: 108px;
  background-color: white;
}

div.options {
  position: absolute;
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
}

div.options div.select-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

div.options div.select-container div.sel {
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  gap: 0;
}

div.options div.select-container div.sel h1 {
  font-size: 3em;
}

div.options div.select-container div.sel select {
  justify-self: center;
  width: 90%;
  border: none;
  outline: none;
  font-weight: 600;
  text-align: center;
  font-size: 1.4em;
  border-radius: 10px;
}

div.options button {
  margin-top: 2rem;
  border: none;
  appearance: none;
  outline: none;
  font-size: 2em;
  width: 100%;
  padding: 1em;
  font-weight: 900;
  border-radius: 20px;
}

div.starting-menu {
  padding-top: 1rem;
  width: 100%;
  position: absolute;
  transform: translateX(0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.starting-menu h1 {
  font-size: 4em;
  font-weight: 900;
}

div.starting-menu div.btn-container {
  margin-top: 4rem;
  background-color: white;
  width: 90%;
  display: grid;
  grid-template-columns: 100%;
  gap: 3em;
  background-color: transparent;
}

div.starting-menu button {
  border: none;
  appearance: none;
  outline: none;
  font-size: 2em;
  width: 100%;
  padding: 1em;
  font-weight: 900;
  border-radius: 20px;
}

body {
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body * {
  font-family: 'Lato';
}

div.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0;
}

div.carousel-container div.carousel {
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0;
  trasform-style: preserve-3d;
  transition: transform 0.1s;
  display: flex;
  justify-content: center;
}

/*Themes*/
.light {
  overflow: hidden;
  background-color: #f5e7e9;
  transition: background-color 0.2s;
}

.light * {
  transition: color 0.2s;
  color: #040428;
}

.light div.starting-menu h1 {
  color: #060642;
}

.light button {
  background-color: #6dc48d;
}

.light select {
  background-color: beige;
}

.light #return {
  background-color: #6dc48d;
}

.dark {
  overflow: hidden;
  background-color: #656565;
  transition: background-color 0.2s;
}

.dark * {
  transition: color 0.2s;
  color: white;
}

.dark button {
  background-color: #292729;
}

.dark select {
  background-color: grey;
}

.dark div.tic-tac-toe-container div.actions #return button {
  background-color: #656565;
}

@media screen and (min-width: 769px) {
  div.tic-tac-toe-container {
    width: 600px;
    height: 600px;
  }
  div.tic-tac-toe-container div.box {
    width: 200px;
    height: 200px;
  }
}
