@import 'styles/_oneVsone-game-screen.scss';
@import 'styles/_options.scss';
@import 'styles/_starting-menu.scss';


$dark-bg-color: rgb(77, 73, 73);
$btn-dark-mode-color: rgb(49, 48, 48);
$btn-dark-mode-color-hover: rgb(29, 28, 28);

$btn-light-mode-color: rgb(109, 196, 141);
$btn-light-mode-color-hover: rgb(28, 149, 73);

button:hover {
    cursor: pointer;
}
body {
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    * {
        font-family: 'Lato';
    }
}


div.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0;

    & div.carousel {
        text-align: center;
        width: 100%;
        position: relative;
        margin: 0;
        trasform-style: preserve-3d;
        transition: transform 0.1s;
        display: flex;
        justify-content: center;
    }


}

/*Themes*/

.light {
    overflow: hidden;
    background-color: rgb(245, 231, 233);
    transition: background-color 0.2s;

    button:hover {
        background-color: $btn-light-mode-color-hover;
    }

    & * {
        transition: color 0.2s;
        color: rgb(4, 4, 40);
    }

    & div.starting-menu h1 {
        color: rgb(6, 6, 66);
    }

    & button {
        background-color: $btn-light-mode-color;
    }

    & select {
        background-color: beige;
    }

}

.dark {
    overflow: hidden;
    background-color: $dark-bg-color;
    transition: background-color 0.2s;

    & * {
        transition: color 0.2s;
        color: white;
    }

    & * button {
        background-color: $btn-dark-mode-color;
        
        &:hover {
            background-color: $btn-dark-mode-color-hover;
        }
    }

    & select {
        background-color: grey;
    }
    & div.oneVSone-game-screen {

        & div.tic-tac-toe-container {
            background-color: black;   
            border: 3px solid black;
            
            
        }
    }
    
}

