$return-btn-bg-color: rgb(109, 196, 141);
$return-btn-bg-color-hover:  rgb(28, 149, 73);

div.oneVSone-game-screen {
    display: none;
    width: 100%;

    & div.actions {
        /*(border: 2px solid red;*/
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "return player player";
        justify-content: center;
        padding: 0.5em;

        & p {
            padding-top: 0.4em;
            align-self: end;
            text-align: center;
            font-size: 3.3em;
            font-weight: 600;
    
            & span {
                font-weight: 900;
            }
        }
    
        & #return {
            align-self: start;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 18px;
            margin-top: 13px;
            background-color: $return-btn-bg-color;
            font-size: 1.5em;
            padding: 0.5em;
            border: none;
            outline: none;
            appearance: none;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            
            & button:hover {
                background-color: $return-btn-bg-color-hover;
            }
        } 


    }
    

    & div.tic-tac-toe-container {
        width: 90%;
        border: 3px solid green;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 330px;
        height: 330px;
        gap: 3px;
        background-color: green;

        & div.box {
            width: 108px;
            height: 108px;
            background-color: white;
        }

    }

    @media screen and (min-width: 769px) {

    }


    @media screen and (min-width: 1021px)  {
        div.tic-tac-toe-container {
            width: 606px;
            height: 606px;
    
            div.box {
                width: 200px;
                height: 200px;
            }
        
        }
        

        div.actions {
            padding: 1em;
            & p {
                font-size: 4.5em;
            }
        }
    
    }
}

