div.oneVSone-game-screen {
  display: none;
  width: 100%;
}

div.oneVSone-game-screen div.actions {
  /*(border: 2px solid red;*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "return player player";
  justify-content: center;
  padding: 0.5em;
}

div.oneVSone-game-screen div.actions p {
  align-self: start;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
}

div.oneVSone-game-screen div.actions p span {
  font-weight: 900;
}

div.oneVSone-game-screen div.actions #return {
  margin-left: 18px;
  margin-top: 9px;
  font-size: 2em;
  padding: 0.5em;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

div.oneVSone-game-screen div.actions #return:hover {
  cursor: pointer;
}

div.oneVSone-game-screen div.tic-tac-toe-container {
  width: 90%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 326px;
  height: 326px;
  gap: 2px;
  background-color: black;
}

div.oneVSone-game-screen div.tic-tac-toe-container div.box {
  width: 108px;
  height: 108px;
  background-color: #f5e7e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: 700;
}

@media screen and (min-width: 581px) {
  div.oneVSone-game-screen {
    /*tablet*/
  }
  div.oneVSone-game-screen div.actions #return {
    font-size: 2.4em;
  }
  div.oneVSone-game-screen div.actions p {
    font-size: 3.2em;
  }
  div.oneVSone-game-screen div.tic-tac-toe-container {
    width: 456px;
    height: 456px;
  }
  div.oneVSone-game-screen div.tic-tac-toe-container div.box {
    width: 152px;
    height: 152px;
  }
}

@media screen and (min-width: 1021px) {
  div.oneVSone-game-screen div.carousel-container {
    max-width: 1400px;
    margin: auto;
  }
  div.oneVSone-game-screen div.actions {
    padding: 1em;
  }
  div.oneVSone-game-screen div.actions p {
    font-size: 3.8em;
    align-self: start;
  }
  div.oneVSone-game-screen div.actions #return {
    font-size: 2.8em;
  }
}
