$return-btn-bg-color: rgb(109, 196, 141);
$return-btn-bg-color-hover:  rgb(28, 149, 73);

div.oneVSone-game-screen {
    display: none;
    width: 100%;

    & div.actions {
        /*(border: 2px solid red;*/
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
        "return player player";
        justify-content: center;
        padding: 0.5em;

        & p {
            align-self: start;
            text-align: center;
            font-size: 2.5em;
            font-weight: 600;
    
            & span {
                font-weight: 900;
            }
        }
    
        & #return {
            
            margin-left: 18px;
            margin-top: 9px;
            font-size: 2em;
            padding: 0.5em;
            border: none;
            outline: none;
            appearance: none;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            
            &:hover {
                cursor: pointer;
            }
        } 




    }
    

    
    & div.tic-tac-toe-container {
        
        width: 90%;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 326px;
        height: 326px;
        gap: 2px;
        background-color: black;

        & div.box {
            width: 108px;
            height: 108px;
            background-color: rgb(245, 231, 233);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 3em;
            font-weight: 700;
            
        }

    }

    @media screen and (min-width: 581px) { /*tablet*/

        div.actions {
            
            & #return {
                font-size: 2.4em;
            }

            & p {
                font-size: 3.2em;
            }
        }

        div.tic-tac-toe-container {
            width: 456px;
            height: 456px;
            
            & div.box {
                width: 152px;
                height: 152px;
            }
        }
    }


    @media screen and (min-width: 1021px)  {
        

        div.actions {
            padding: 1em;
            & p {
                font-size: 3.8em;
                align-self: start;
            }

            & #return {
                font-size: 2.8em;
            }
        }
    
    }
}

