div.options {
  position: absolute;
  transform: translateX(100vw);
  display: flex;
  flex-direction: column;
}

div.options div.select-container {
  display: flex;
  flex-direction: column;
}

div.options div.select-container div.sel {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 0;
}

div.options div.select-container div.sel h1 {
  font-size: 3em;
}

div.options div.select-container div.sel select {
  width: 90%;
}

div.options button {
  border: none;
  appearance: none;
  outline: none;
  font-size: 2em;
  width: 100%;
  padding: 1em;
  font-weight: 900;
  border-radius: 20px;
  background-color: #adf6de;
}
